<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ShowItems</servlet-name>
  	<servlet-class>com.beat_software.javaweb.ShowItems</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowItems</servlet-name>
  	<url-pattern>/ShowItems</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShowSession</servlet-name>
  	<servlet-class>com.beat_software.javaweb.ShowSession</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowSession</servlet-name>
  	<url-pattern>/ShowSession</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>KidsBooksPage</servlet-name>
  	<servlet-class>com.beat_software.javaweb.KidsBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>KidsBooksPage</servlet-name>
  	<url-pattern>/KidsBooksPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TechBooksPage</servlet-name>
  	<servlet-class>com.beat_software.javaweb.TechBooksPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TechBooksPage</servlet-name>
  	<url-pattern>/TechBooksPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>OrderPage</servlet-name>
  	<servlet-class>com.beat_software.javaweb.OrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderPage</servlet-name>
  	<url-pattern>/OrderPage</url-pattern>
  </servlet-mapping>

  
</web-app>